<p>
<div class="row">

  <%= @phrase.content.translation.examples %>

  <!--<div>-->
    <!--< @phrase.translation %>-->

  <!--</div>-->

  <% @phrase.examples.each do |example|%>

      <li><%= example.content %> </li>

  <%end%>

</div>
</p>

