<% provide(:title, 'All users') %>
<h1>My page</h1>

<ul class="users">
  <% @users.each do |user| %>
      <li>
        <%= gravatar_for user, size: 52 %>
        <%= link_to user.email, user %>
      </li>
  <% end %>
</ul>